* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0%;
    padding: 0px;
}


.menu {
    border: 1px solid black;
    height: 60vh;
    width: 50%;
    margin: 200px auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

}

.bg-light {
    background-color: cornflowerblue;
    color: black;
}

.bg-dark {
    background-color: black;
    color: white;
}

.bt-modo {
    font-size: 18px;
    margin: 50px 0px 0px 0px;
}



h1 {
    font-size: 25px;
    margin: 5px 0px 0px 0px;
    text-align: center;
}

.cont-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boton-menu {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin: 25px 0px 0px 0px;
    width: 180px;
    height: 10vh;
}


.listado {
    border: 1px solid black;
    background-color: cornflowerblue;
    height: fit-content;
    width: 50%;
    margin: 200px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.listN {
    border: 1px Solid black;
    height: fit-content;
    width: 50%;
    margin: 20px auto;
    padding: 8px;
    color: white;
    font-size: 18px;

}


.new-cust {
    background-color: cornflowerblue;
    border: 1px solid gray;
    margin: 5px auto;
    width: 50%;
    display: flex;
    flex-direction: column;
}


h2 {
    background-color: white;
    font-size: 22px;
    padding-left: 15px;

}


.sect-cli {
    margin: 15px 0px 50px 0px;
    border: 0px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sect-masc {
    margin: 15px 0px 50px 0px;
    border: 0px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label,
p {
    font-size: 18px;
    margin-top: 12px;
}


.inp {
    background-color: aliceblue;
    border: 1px solid gray;
    font-size: 18px;

}

.cont-radio {
    margin: 10px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 18px;

}

.con-bot-form {
    margin: 15px auto;
    text-align: center;
    width: 50%;

}

.botones-form {
    font-size: 20px;
    width: 150px;
    margin: 5px 0px 5px 0px;
}